/* body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:#ffffff;
    color:#222;
}

header{
    background:white;
    color:#d4af37;
    border-bottom:1px solid #e8e8e8;
    padding:18px 0;
    font-size:22px;
    text-align:center;
    font-weight:600;
}


.sidebar{
    width:220px;
    background:white;
    border-right:1px solid #e8e8e8;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    padding:28px 12px;
}

.sidebar a{
    color:#444;
    text-decoration:none;
    display:block;
    margin:12px 0;
    padding:10px 12px;
    border-radius:8px;
}

.sidebar a:hover{
    background:#fff6d6;
    color:#d4af37;
    border-left:4px solid #d4af37;
}

.main{
    margin-left:240px;
    padding:28px;
} */
